.homePageLeftNavigationWrapper li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}
.homePageLeftNavigationWrapper li:hover {
  background-color: #e0a500;
  transition: 1s;
  border-radius: 8px;
}


/* Media queris for the left side bar navigations */
@media only screen and (max-width: 900px) {

  .homePageLeftNavigationWrapper li span:nth-child(2) {
    display: none;
  }
  .homePageLeftNavigationWrapper li {
    padding-top: 6px;
    padding-bottom:6px;

    display: flex;
    justify-content: center;
  }
  .homePageLeftNavigationWrapper li span:nth-child(1) {
    font-size: 17px;
  } 
  .socialChainLogoWrapper {
    justify-content: center;
  }
  .socialChainLogoWrapper h1{
    display: none;
  }
}

@media only screen and (min-width: 900px) { 
  .socialChainLogoWrapper {
    justify-content: center;
  }
   .profilePictureWrapper{
    display: none;
  }
}

/*#region feed navigation styles */

.feedNavigationWrapper li  {
  position: relative;
  cursor: pointer;
  width: 80px;
  text-align: center;
}

.feedNavigationWrapper li::after {
  background-color: #e0a500;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.feedNavigationWrapper li::before {
  background-color: gray;
  display: none;
  opacity: 0.1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20px;
  padding: 30px;
  bottom: 0;
  left: 0;
  right: 0;

}
.feedNavigationWrapper li:hover::after {
  display: block;
}
.feedNavigationWrapper li:hover::before {
  display: block;
}
/*#endregion feed navigation styles */